.card {
  max-width: 360px;
  list-style: none;
}

.card__wrap {
  position: relative;
}

.card__trailer-link{
  z-index: 1;
}

.card__icon {
  display: none;
  position: absolute;
  right: 14px;
  top: 14px;
  transition: linear .4s;
  cursor: pointer;
  z-index: 2;
}

.card:hover .card__icon {
  display: block;
}

.card__icon:hover {
  transform: scale(1.2);
}

.card__image {
  width: 360px;
  height: 200px;
  
}

.card__description {
  margin: 14px 14px 0;
  display: flex;
  justify-content: space-between;
}

.card__name {
  flex-basis: 250px;
  margin: 0;

  color: #000;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.card__duration {
  box-sizing: border-box;
  margin: 0;

  align-self: flex-start;
  background-color: #F9F9F9;
  border: solid 1px #F9F9F9;
  border-radius: 3px;
  padding: 3px 4px;

  color: #A0A0A0;
  font-size: 11px;
  font-weight: 400;
  line-height: 10px;
}

@media screen and (max-width: 1024px) {

  .card {
    max-width: 330px;
  }

  .card__image {
    max-width: 330px;
  }
  
}

@media screen and (max-width: 576px) {

  .card {
    max-width: 300px;
  }

  .card__image {
    max-width: 300px;
  }
  
}