.promo {
  padding: 0 70px 75px;
  background-color: #5c5c5c;
}
.promo__container {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  padding: 75px 0 0;
  margin: 0 auto;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
}

.promo__title {
  max-width: 640px;
  margin: 0 0 36px;

  color: #fff;
  font-size: 51px; /* В макете 50px, но тогда слово Веб-разработки некрасиво переносится*/
  font-weight: 400;
  line-height: 58px;
}
.promo__subtitle {
  max-width: 310px;
  margin: 0;

  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.5;
}
.promo__img {
  width: 310px;
  height: 304px;
  background-size: cover;
  background-image: url("../../images/web-planet.svg");
}

/* Media */

@media screen and (max-width: 1280px) {
  .promo {
    padding: 0 50px 75px;
  }
}

@media screen and (max-width: 1024px) {
  .promo__container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 140px 0 0;
  }

  .promo__wrapper {
    align-items: center;
    text-align: center;
  }

  .promo__title {
    margin: 48px 0 22px;
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .promo {
    padding: 0 30px 75px;
  }
}

@media screen and (max-width: 576px) {
  .promo {
    padding: 0 8px 30px;
  }

  .promo__container {
    padding: 70px 0 0;
  }

  .promo__img {
    width: 210px;
    height: 206px;
  }

  .promo__title {
    margin: 44px 0 24px;
    font-size: 30px;
    line-height: 38px;
  }
}