.search {
  padding: 80px 70px 80px;
}

.search__container {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 40px;
  border-bottom: solid 1px #E8E8E8;
}

.search__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 16px;
}

.search__input {
  display: block;
  width: 100%;
  background-color: #F9F9F9;
  border: solid 1px #F9F9F9;
  border-radius: 8px;
  padding: 16px 0 16px 20px;
  outline: none;
}

.search__submit {
  width: 44px;
  height: 44px;

  background-color: #2BE080;
  border: solid 1px #2BE080;
  border-radius: 8px;

  cursor: pointer;
  outline: none;
  transition: linear .4s;
} 

.search__submit:hover {
  border: solid 1px #000;
  transform: scale(1.1);
} 

.search__input-error{
  display: block;
  max-width: 200px;
  min-height: 22px;
  margin: 0 auto;
  padding-bottom: 10px;

  color: #EE3465;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

@media screen and (max-width: 1024px) {
  .search {
    padding: 80px 30px 80px;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
  .search {
    padding: 80px 14px 80px;
  }
}