.header {
}

.header_bg-color_dark {
  background-color: #5c5c5c;
}

.header_bg-color_light {
  background-color: #ffffff;
}

.header__container {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;

  padding: 0 70px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  margin: 18px 0;
}

.header__btn-signin {
  width: 76px;
  height: 32px;

  margin: 21px 0;
  padding: 0;

  border: solid 1px #2be080;
  border-radius: 3px;
  background-color: #2be080;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  transition: transform linear 0.3s;
}

.header__btn-signin:hover {
  transform: scale(1.1);
}

.header__btn-account {
  width: 26px;
  height: 30px;

  border-radius: 4px;
  border: solid 1px #f9f9f9;
  background-color: #f9f9f9;
  background-image: url("../../images/account-btn-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: linear 0.4s;
  transition-property: transform, border;
}

.header__btn-account:hover {
  transform: scale(1.3);
  border: solid 1px black;
}

.header__sign-text {
  margin: 0;

  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  transition: opacity linear 0.5s;
}

.header__sign-text:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.header__sign-text_color_black {
  margin-right: 17px;

  font-size: 14px;
  color: #000;
}

.header__sign-text_color_white {
  margin-right: 30px;

  font-size: 12px;
  color: #fff;
}

.header__movies {
  margin-left: 44px;

  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  transition: opacity linear 0.5s;
}

.header__movies:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.header__saved-movies {
  margin-left: 16px;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  transition: opacity linear 0.5s;
}

.header__saved-movies:hover {
  opacity: 0.6;
  text-decoration: underline;
}
