.promo__btn {
  width: 129px;
  height: 36px;

  background-color: #5c5c5c;
  border: solid 1px rgba(255, 255, 255, 0.6);
  border-radius: 3px;

  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  transition: linear 0.3s;
}

.promo__btn:hover {
  transform: scale(1.1);
  border: solid 1px rgba(255, 255, 255, 1);
}

.promo__link {
  width: 129px;
  height: 36px;
  margin-top: 146px;
  text-decoration: none;
}

.promo__link:visited {
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .promo__link {
    margin-top: 92px;
  }
}

@media screen and (max-width: 576px) {
  .promo__link {
    margin-top: 80px;
  }
}